body{
    margin: 0px;
    background-color: .000;
}

.camera-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cam-cont {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: block;
    transform: scale(0.4);
}

.cam-circle {
    position: absolute;
    overflow: hidden;
    width: 500px;
    height: 500px;
    border: 5px solid yellow;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -260px;
    border-radius: 300px;
    transform: matrix(-.5, 0, 0, .5, 0, 0);
    -ms-transform: matrix(-.5, 0, 0, .5, 0, 0);
    -webkit-transform: matrix(-.5, 0, 0, .5, 0, 0);
}

.triangle-cont {
    left: -814px;
    top: -100px;
    position: absolute;
}

.polygon-1 {
    display: block;
    position: absolute;
    margin: 384px 796px;
    transform: scale(0.005);
}

.triangle {
    position: absolute;
    display: block;
    background-color: yellow;
    width: 600px;
    height: 5px;
}

.logo{
    font-family: Helvetica;
    font-size: 130px;
    color: yellow;
    display: none;
    position: absolute;
    top: 278px;
    left: 965px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.logo-2{
    width: 100%;
    height: 150px;
    /* font-family: Helvetica; */
    /* font-size: 40px; */
    /* color: yellow; */
    display: none;
    position: absolute;
    text-align: center;
    top: 61%;
}

.production {
    margin: 0;
    display: block;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.open {
    margin: 0;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.stick-1{
    display: block;
    position: absolute;
    margin: 286px 0 0 488px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(45deg)
}

.stick-2{
    display: block;
    position: absolute;
    margin: 115px 0 0 617px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(90deg);
}

.stick-3{
    display: block;
    position: absolute;
    margin: 73px 0 0 829px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(135deg);
}

.stick-4{
    display: block;
    position: absolute;
    margin: 201px 1000px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(180deg);
}

.stick-5{
    display: block;
    position: absolute;
    margin: 413px 1040px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(225deg);
}

.stick-6{
    display: block;
    position: absolute;
    margin: 587px 915px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(270deg);
}

.stick-7{
    display: block;
    position: absolute;
    margin: 624px 703px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(-45deg);
}

.stick-8{
    display: block;
    position: absolute;
    margin: 499px 528px;
    /* width: 800px; */
    /* height: 800px; */
    transform: rotate(0deg);
}

/* ------------------------------------- (Smartphone Nexus 4 and Galaxy S5) ------------------------------------------ */
/* Portrait View ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 384px) {
    .cam-circle {
        top: 46%;
        margin-left: -255px;
        transform: matrix(-.3, 0, 0, .3, 0, 0);
        -ms-transform: matrix(-.3, 0, 0, .3, 0, 0);
        -webkit-transform: matrix(-.3, 0, 0, .3, 0, 0);
    }

    .logo-2{
        font-size: 21px;
        top: 57%;
    }

}
    
    /* Landscape View ----------- */
    @media only screen and (min-device-height : 360px) and (max-device-height : 385px) and (orientation : landscape) {
        .cam-circle {
            top: 44%;
            margin-left: -255px;
            transform: matrix(-.3, 0, 0, .3, 0, 0);
            -ms-transform: matrix(-.3, 0, 0, .3, 0, 0);
            -webkit-transform: matrix(-.3, 0, 0, .3, 0, 0);
        }
    
        .logo-2{
            font-size: 21px;
            top: 64%;
        }
    }
    
    /* ----------------------------- (Smartphone Pixel 2 and Pixel 2L) ---------------------------------------------- */
    /* Portrait View ----------- */
    @media only screen and (min-device-width : 410px) and (min-device-height : 731px) and (max-device-height : 732px) {
        .cam-circle {
            top: 47%;
            margin-left: -255px;
            transform: matrix(-.3, 0, 0, .3, 0, 0);
            -ms-transform: matrix(-.3, 0, 0, .3, 0, 0);
            -webkit-transform: matrix(-.3, 0, 0, .3, 0, 0);
        }
    
        .logo-2{
            font-size: 21px;
            top: 57%;
        }
    }

    @media only screen and (min-device-width : 410px) and (min-device-height : 820px) and (max-device-height : 823px) {
        .cam-circle {
            top: 47%;
            margin-left: -255px;
            transform: matrix(-.3, 0, 0, .3, 0, 0);
            -ms-transform: matrix(-.3, 0, 0, .3, 0, 0);
            -webkit-transform: matrix(-.3, 0, 0, .3, 0, 0);
        }
    
        .logo-2{
            font-size: 21px;
            top: 56%;
        }
    }
    
    /* Landscape View ----------- */
    @media only screen and (min-device-width : 731px) and (max-device-width : 823px) and (orientation : landscape) {
        .cam-circle {
            top: 45%;
            margin-left: -255px;
            transform: matrix(-.3, 0, 0, .3, 0, 0);
            -ms-transform: matrix(-.3, 0, 0, .3, 0, 0);
            -webkit-transform: matrix(-.3, 0, 0, .3, 0, 0);
        }
    
        .logo-2{
            font-size: 21px;
            top: 62%;
        }
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }